$max-z-index: 2147483647;

/* COLORS */
$color-dropdown-active: #ff969a;
$color-font: #202020;
$color-font-bg: #d6d6d6;
$color-font-active: #4a4a4b;
$color-font-inactive: #7c7c7d;
$color-github-cat: #24292E;
$color-primary: #e55457;
$color-secondary: #f8f9fa;
$color-ruler: #d6d6d6;
$color-youtube-play: #FF0000;

/* DISTANCES / LENGTHS */
$distance-default: 30px;
$length-menu: 85px;

/* PATHS */
$fonts: "../assets/fonts/";
$images: "../assets/images/";

/* THEME */
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary
);

/*------------------------------------------------------ IMPORTS -----------------------------------------------------*/
@import "ember-bootstrap/bootstrap";

/*------------------------------------------------------- FONTS ------------------------------------------------------*/
@font-face {
  font-family: "OpenSans-Light";
  src: url("#{$fonts}OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NovaMono";
  src: url("#{$fonts}NovaMono.ttf") format("truetype");
}

/*------------------------------------------------------ IMAGES ------------------------------------------------------*/
.logo {
  background: url("#{$images}logo.svg") no-repeat;
  display: block;
  height: 70px;
  width: 200px;
}


/*------------------------------------------------------- TAGS -------------------------------------------------------*/
body {
  color: $color-font;
  font-family: "OpenSans-Light", sans-serif;
  height: 100%;  /* to stick footer to bottom of page */

  >.ember-view {
    height: 100%;  /* to stick footer to bottom of page */
  }
}

em {
  font-family: "NovaMono", monospace;
  font-style: normal;
}

html {
  height: 100%;  /* to stick footer to bottom of page */
}

hr {
  border-top: 1px solid $color-font-bg;
  width: 90%;
  margin-top: 3em;
  margin-bottom: 2em;
}

h1, h2, h4 {
  font-weight: 600 !important;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.2em;
}

h3::first-letter {
  color: $color-primary;
  font-size: 120%;
  font-weight: bolder;
}

/*-------------------------------------------------------- IDS -------------------------------------------------------*/
#author {
  color: $color-font-bg;
  float: right;
  font-weight: 600 !important;
  margin-right: $distance-default;
  margin-top: 15px;
}

#effects {
  margin: 0;
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  zoom: normal;
  z-index: $max-z-index;
}

#footer {
  background: rgb(0, 0, 0);
  color: #404040;
  font-weight: bold;
  height: 50px;
  margin-top: 50px;
  overflow: hidden;
}

#latest {
  margin-top: 50px;
}

#liabilities {
  float: left;
  font-weight: 400;
  margin-left: $distance-default;
  margin-top: 13px;

  /* TAGS */
  a {
    color: $color-font-bg;
    margin-right: 10px;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

#top {
  background: url("../assets/images/background.svg") no-repeat;
  background-size: cover;
  min-height: 100%; /* to stick footer to bottom of page */
}

/*------------------------------------------------------ CLASSES -----------------------------------------------------*/
.content {
  text-align: justify;
}

.downloads-menu-link {
  width: 132px;
}

.embedded-logo {
  float: right;
  max-height: 186px;
  max-width: 512px;
  padding: 15px;
}

.message {
  textarea {
    max-height: 300px;
    min-height: 100px;
  }
}

.navbar-button {
  border: none;
  color: $color-font-inactive;
  font-size: 17.6px;
}

.navbar-button:hover {
  background-color: $color-secondary;
  color: $color-font-active;
}

.navbar-menu {
  min-width: 90px !important;

  .dropdown-item {
    padding: 10px 12px 10px 12px;
  }

  .dropdown-item:active {
    background-color: $color-dropdown-active;
  }
}

.outsider {
  margin-left: 50px;
}

.overline {
  margin-bottom: 10px;
  margin-top: 15px;
  width: 93%;
}

.underline {
  margin: 0 0 15px 0;
  width: 100%;
}

/*----------------------------------------------------- BOOTSTRAP ----------------------------------------------------*/
.btn-outline-secondary {
  color: $color-font;
  border-color: $color-font-bg;
}

.btn-outline-secondary:hover {
  color: white;
  background-color: $color-font-bg;
  border-color: $color-font-bg;
}

.card {
  margin: 10px;
  min-width: 240px;
}

.carousel {
  outline: none;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  a {
    padding: 15px;
  }

  h1 {
    font-size: 5em;
    text-shadow: 1px 1px 10px black;
    font-weight: 500;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px black;
  }
}

.carousel-inner {
  img {
    height: 100%;
    width: 100%;
  }
}

.d-block {
  display: none !important;
}

.jumbotron {
  padding: 1em;
}

.navbar-nav {
  li {
    padding-right: 20px;
  }
}

.navbar-toggler:focus {
  outline-color: $color-primary;
}

.nav-link {
  font-size: 1.1em !important;
}

/*---------------------------------------------------- FONT AWESOME --------------------------------------------------*/
.connections {
  a {
    font-size: 4em;
    margin: 1em;
  }
}

.fa-github {
  color: $color-github-cat;
}

.fa-github:hover, .fa-youtube:hover {
  color: $color-font-bg;
}

.fa-youtube {
  color: $color-youtube-play;
}

/*----------------------------------------------------- RESOLUTION ---------------------------------------------------*/
@media (min-width: 320px) and (max-width: 576px) {
  /* TAGS */
  h1 {
    font-size: 2em !important;
  }

  p {
    font-size: 1em !important;
  }

  /* CLASSES */
  .btn {
    font-size: 0.9em;
    line-height: 0.9em;
  }

  .card-text {
    font-size: 0.9em !important;
  }

  .card-title {
    font-size: 1em !important;
  }

  .carousel-caption {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);

    a {
      padding: 5px;
    }

    h1 {
      font-size: 3em;
      text-shadow: 1px 1px 10px black;
      font-weight: 500;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1em;
      font-weight: 500;
      padding-bottom: 1rem;
      text-shadow: 1px 1px 10px black;
    }
  }

  .connections {
    a {
      font-size: 2em;
      padding: 0.5em;
    }
  }

  .embedded-logo {
    float: none;
    max-height: 140px;
    max-width: 384px;
  }

  .navbar {
    li {
      font-size: 0.9em !important;
    }

    .navbar-button {
      font-size: medium;
      padding-top: 12px;
    }

    .nav-link {
      margin-left: 10px !important;
    }

    .outsider {
      margin-left: 25px;
    }
  }
}

@media (min-width: 576px) and (max-width: 720px) {
  .carousel-caption {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    h1 {
      font-size: 4em;
      text-shadow: 1px 1px 10px black;
      font-weight: 500;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1em;
      font-weight: 500;
      padding-bottom: 1rem;
      text-shadow: 1px 1px 10px black;
    }
  }

  .embedded-logo {
    float: right;
    max-height: 140px;
    max-width: 384px;
  }

  .nav-link {
    margin-left: 10px !important;
  }
}

@media (min-width: 720px) and (max-width: 992px) {
  .nav-link {
    margin-left: 10px !important;
  }

  .embedded-logo {
    float: right;
  }
}

@media (min-width: 992px) {
  .embedded-logo {
    float: right;
    max-height: 140px;
    max-width: 384px;
  }
}

/*------------------------------------------------- BROWSER SPECIFIC -------------------------------------------------*/
/* WebKit and Blink browsers */
::selection {
  background: $yellow;
  color: white;
}

/* Gecko browsers */
::-moz-selection {
  background: $yellow;
  color: white;
}

/*-------------------------------------------------- CUSTOM IMPORTS --------------------------------------------------*/
@import "downloads";
