<h2>Programs <span class="fas fa-laptop-code"></span></h2>
<hr class="underline">

<p class="content">
  The following programs are open source, the code has been therefore released inter alia
  under the <a href="http://unlicense.org/" target="_blank" rel="noopener">Unlicense-licence</a> such
  that you can use and adapt the programs even for commercial purposes without considering any conditions.
  Many programs can be executed under Linux, Mac, as well as Windows.
  So, please give them a try on your favourite operating system!
</p>

<br>

<div class="container">
  <div class="card col-10 col-sm-7 col-md-12 ml-auto mr-auto">
    <div class="row">
      <div class="col-md-4">
        <img src="../engines-dist/downloads/assets/bioinformatics_algorithms_logo.png" class="w-100">
      </div>

      <div class="col-md-8">
        <div class="card-block">
          <h4 class="card-title">Bioinformatics Algorithms</h4>

          <p class="card-text">
            Visually more elaborate versions of algorithms known from Bioinformatics
            implemented with JavaScript and the
            <a href="https://knockoutjs.com/" target="_blank" rel="noopener">Knockout</a> framework.
            The resulting project has been integrated in the RNA-Playground of
            <a href="http://rna.informatik.uni-freiburg.de/Teaching/" target="_blank" rel="noopener">this</a> website.
          </p>

          {{#link-to "programs.bioinformatics"}}
            <btn class="btn btn-primary">Read More</btn>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="card col-10 col-sm-7 col-md-12 ml-auto mr-auto">
    <div class="row">
      <div class="col-md-4">
        <img src="../engines-dist/downloads/assets/cross_dating_logo.png" class="w-100">
      </div>

      <div class="col-md-8">
        <div class="card-block">
          <h4 class="card-title">Cross-Dating</h4>

          <p class="card-text">
            Newly developed cross-dating algorithm for density series from wood samples.
            This approach determines the date for even shorter wood pieces correctly than with given methods before
            in dendrochronology before.
          </p>

          {{#link-to "programs.cross-dating"}}
            <btn class="btn btn-primary">Read More</btn>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="card col-10 col-sm-7 col-md-12 ml-auto mr-auto">
    <div class="row">
      <div class="col-md-4">
        <img src="../engines-dist/downloads/assets/res_logo.png" class="w-100">
      </div>

      <div class="col-md-8">
        <div class="card-block">
          <h4 class="card-title">Relationship-Enhancement-Scripts</h4>

          <p class="card-text">
            Are you constantly stressed by your operating system? You are constantly in dispute?
            Then I have something for you,
            <a href="https://github.com/AlexanderMattheis/Relationship-Enhancement-Scripts" target="_blank" rel="noopener">
              RES</a>
            for a better, trustworthy cooperation between humans and machines.
          </p>

          {{#link-to "programs.res"}}
            <btn class="btn btn-primary">Read More</btn>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>