<div class="col-12 col-xl-6 mr-auto ml-auto mt-5">
      <h2>About Page <span class="far fa-newspaper"></span></h2>
      <hr class="underline">
      <img class="embedded-logo img-fluid" src="assets/images/logo.png">

      <p>
        Bitcorn is an interactive learning platform whose development
        started between October and November 2018. The idea for the name and the
        content of that website, I get while taking a walk at midday in the beginning of November 2018.
        Before, I just played around and created a website without a real idea in my head.
        Now, it is a webpage designed mainly for computer algorithms, but also maths and other stuff.
        Interactive means in the case of Bitcorn, that you watch a video or presentation
        and can play afterwards with the presented algorithm on the website.
        But additionally, you can also download free
        <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" target="_blank" rel="noopener">CC0-licence</a>
        graphics, models, and fonts or get creative programming ideas in the downloads section.
        So, with Bitcorn you get full support for your programming career. Is this not cool?
      </p>
</div>