{{#bs-carousel as |car|}}
  {{#car.slide}}
    <img alt="Bitcorn start-screen." src="assets/images/preview/popcorn.jpg">

    <div class="carousel-caption">
      <h1 class="display-2">Bitcorn</h1>
      <h3>Interactive, Free Learning Platform</h3>
      <button type="button" class="btn btn-outline-light btn-lg">
        VIEW DEMO
      </button>
      {{#link-to "tutorials"}}
        <button type="button" class="btn btn-primary btn-lg">
          Get Started
        </button>
      {{/link-to}}
    </div>
  {{/car.slide}}

  {{#car.slide}}
    <img alt="" src="assets/images/preview/bananas.jpg">
  {{/car.slide}}

  {{#car.slide}}
    <img alt="" src="assets/images/preview/barley_field.jpg">
  {{/car.slide}}
{{/bs-carousel}}

<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-md-9 col-lg-9 col-xl-10">
      <p class="lead">
        Bitcorn is a modern learning platform
        whose development started between October and November 2018.
      </p>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-2">
      {{#link-to "about-page"}}
        <button type="button" type="button" class="btn btn-outline-secondary btn-lg">
          More About
        </button>
      {{/link-to}}
    </div>
  </div>
</div>

<div id="latest" class="container-fluid row text-center">
  <div class="col-12">
    <h1 class="display-4">Latest Creations</h1>
  </div>

  <div class="col-xl-6 ml-auto mr-auto">
    <hr class="overline">
    <p class="lead">
      Thank you for visiting Bitcorn, the right place
      for developers! Have fun playing around with my
      latest creations you find below.
    </p>
  </div>
</div>

<div class="container-fluid row justify-content-center ">
  <div class="card col-6 col-md-3">
    <img class="card-img-top" src="assets/images/preview/cards/bioinformatics_algorithms_logo.png">
    <div class="card-body">
      <h4 class="card-title">Bioinformatics Algorithms</h4>

      <p class="card-text">
        Visually more elaborate versions of algorithms known from Bioinformatics.
      </p>

      {{#link-to "downloads.programs.bioinformatics"}}
        <btn class="btn btn-outline-secondary">More About</btn>
      {{/link-to}}
    </div>
  </div>

  <div class="card col-6 col-md-3">
    <img class="card-img-top" src="assets/images/preview/cards/cross_dating_logo.png">
    <div class="card-body">
      <h4 class="card-title">Cross-Dating</h4>

      <p class="card-text">
        Newly developed cross-dating algorithm for density series from wood samples.
      </p>

      {{#link-to "downloads.programs.cross-dating"}}
        <btn class="btn btn-outline-secondary">More About</btn>
      {{/link-to}}
    </div>
  </div>

  <div class="card col-6 col-md-3">
    <img class="card-img-top" src="assets/images/preview/cards/res_logo.png">
    <div class="card-body">
      <h4 class="card-title">RES</h4>

      <p class="card-text">
        Scripts for a better cooperation between humans and machines.
      </p>

      {{#link-to "downloads.programs.res"}}
        <btn class="btn btn-outline-secondary">More About</btn>
      {{/link-to}}
    </div>
  </div>
</div>

<hr>

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>

    <div class="col-12 connections padding">
      <a href="https://github.com/AlexanderMattheis" target="_blank" rel="noopener"><span class="fab fa-github"></span></a>
      <a href="https://www.youtube.com/channel/UCsLtdlbI3Qyrjo9By0BWsZA" target="_blank" rel="noopener"><span class="fab fa-youtube"></span></a>
    </div>
  </div>
</div>